.course-details {
    padding: 30px;
}

.course-details__lessons {
    margin-top: 30px;
    border-top: 1px solid grey;
}

.course-details__name {
    font-weight: bolder;
}

.course-details__description {
    text-align: left;
    font-weight: lighter;
    font-style: italic;
}
