.course-details {
    padding: 30px;
    text-align: center;
}


.course-details__name {
    font-weight: bolder;
}

.course-details__description {
    text-align: left;
    font-weight: lighter;
    font-style: italic;
}
.course-details__tags {
    text-align: left;
}

.course-details__lessons {
    text-align: left;
    margin-top: 30px;
    border-top: 1px solid grey;
}

.course-details__lessons__header {
    text-align: center;
}
