{% extends 'otusblog/base.html' %}
{% load static %}

{% block content %}
    <div class="article-record">
        <h2>{{ article2.title }}</h2>
        <h3>{{ article2.author }}</h3>
        <h4>{{ article2.get_category_display }}</h4>
        <p>{{ article2.body }}</p>
    </div>
    <div class="links">
        <div class="link">
            <a href="{% url 'otusblog:article_update' article2.pk %}">
                редактировать
            </a>
        </div>
        <div class="link">
            <a href="{% url 'otusblog:article_delete' article2.pk %}">
                удалить
            </a>
        </div>
    </div>
{% endblock %}
