{% extends 'otusblog/base.html' %}
{% load static %}

{% block content %}
    <div class="athor-record-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <table class="table">
                {{ author_articles.management_form }}
                {% for form in author_articles.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th class="formset-td">
                                    {{ field.label|capfirst }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="formset-row">
                        {% for field in form.visible_fields %}
                            <td class="formset-td">
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="сохранить">
        </form>
    </div>
    <script>
        $('.formset-row').formset({
            addText: 'добавить публикацию',
            deleteText: 'удалить',
            prefix: 'orderitems',
            {#removed: deleteOrderItem#}
        });
    </script>

{% endblock %}
