.course-list__items {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    justify-content: left;
    text-align: left;
}

.course-list__loader {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: 100px;

}
