{% if request.user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
    </li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'otusblog:article_create' %}">
        Создать публикацию
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'otusblog:authors' %}">
        Авторы
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'otusblog:about' %}">О нас</a>
</li>
